html *{
	  font-family: FluxRegular;
}
body {
	background-image: url("background2.gif");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

header {
	display: block;
	margin: auto;
	max-height: 800px;
	max-width: 800px;
}

main {
	display: block;
	margin: auto;
	max-height: 800px;
	max-width: 800px;
	border: 1px solid red;
	padding: 5px;
	background-color: black;
}

h1 {
	color: white;
	text-align: center;
}
p {
	color: white;
	text-align: justify;
}
h4 {
	color: White;
	text-align: center;
}
b {
	color: White;
}
}
h1 {
	color: White;
}

/*Button Navbar*/


ul {
list-style-type:none;
margin:auto;
padding:0;
overflow:hidden;
}
li {
float:left;
}

span.btn a:link,
span.btn a:visited {
	display: block;
	text-indent: -9999px;
}

span.about a:link,
span.about a:visited {
	width: 96px;
	height: 56px;
	background: url(../Images/index/navbarIndex.jpg) 0px 0px no-repeat;
}
span.about a:hover {
	background-position: -1px -56px;
}
span.about a:active {
	background-position: -6px -50px;
}
span.us a:link,
span.us a:visited {
	width: 96px;
	height: 56px;
	background: url(../Images/index/navbarIndex.jpg) -96px 0px no-repeat;
}
span.us a:hover {
	background-position: -97px -56px;
}
span.us a:active {
	background-position: -102px -50px;
}
span.projects a:link,
span.projects a:visited {
	width: 96px;
	height: 56px;
	background: url(../Images/index/navbarIndex.jpg) -192px 0px no-repeat;
}
span.projects a:hover {
	background-position: -193px -56px;
}
span.projects a:active {
	background-position: -198px -50px;
}
span.fun a:link,
span.fun a:visited {
	width: 96px;
	height: 56px;
	background: url(../Images/index/navbarIndex.jpg) -288px 0px no-repeat;
}
span.fun a:hover {
	background-position: -289px -56px;
}
span.fun a:active {
	background-position: -294px -50px;
}
span.gallery a:link,
span.gallery a:visited {
	width: 96px;
	height: 56px;
	background: url(../Images/index/navbarIndex.jpg) -384px 0px no-repeat;
}
span.gallery a:hover {
	background-position: -385px -56px;
}
span.gallery a:active {
	background-position: -390px -50px;
}
span.archive a:link,
span.archive a:visited {
	width: 96px;
	height: 56px;
	background: url(../Images/index/navbarIndex.jpg) -480px -0px no-repeat;
}
span.archive a:hover {
	background-position: -481px -56px;
}
span.archive a:active {
	background-position: -486px -50px;
}
span.links a:link,
span.links a:visited {
	width: 96px;
	height: 56px;
	background: url(../Images/index/navbarIndex.jpg) -576px 0px no-repeat;
}
span.links a:hover {
	background-position: -577px -56px;
}
span.links a:active {
	background-position: -582px -50px;
}
span.downloads a:link,
span.downloads a:visited {
	width: 96px;
	height: 56px;
	background: url(../Images/index/navbarIndex.jpg) -672px 0px no-repeat;
}
span.downloads a:hover {
	background-position: -673px -56px;
}
span.downloads a:active {
	background-position: -678px -50px;
}
