html *{
	  font-family: FluxRegular;
}
body {
	background-image: url("background2.gif");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

header {
	display: block;
	margin: auto;
	max-height: 800px;
	max-width: 800px;
}

main {
	display: block;
	margin: auto;
	max-height: 800px;
	max-width: 800px;
	border: 1px solid red;
	padding: 5px;
	background-color: black;
}

h1 {
	color: white;
	text-align: center;
}
p {
	font-family: nintendoDS;
	color: white;
	text-align: justify;
}
h4 {
	color: White;
	text-align: center;
}
b {
	color: White;
}
}
h1 {
	color: White;
}

